<!DOCTYPE html>
<html lang="es">
<link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='dist/img/A-LOGO.png')}}">
{% include 'ADMINISTRADOR/modulos/header.html' %}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        {% include 'ADMINISTRADOR/modulos/nav-bar.html' %}
        <!-- /.navbar -->
        {% include 'ADMINISTRADOR/modulos/menu.html' %}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <section class="content mt-4">
                <div class="card shadow">
                    <div class="card-header">
                        <h1 class="card-title">Puestos operativos</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Puesto operativo</th>
                                    <th class="text-center"><i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dato in Operativos %}
                                <tr>
                                    <td>{{ dato.identificador}}</td>
                                    <td>{{ dato.PuestoOperativo}}</td>
                                    <td class="text-center"> <a href="{{url_for('EliminarOperativo',key=dato.identificador)}}" class="btn btn-danger"> 
                                      <i class="fas fa-solid fa-screwdriver fa-trash nav-icon"></i> </a></td>
                                </tr>
                                {% endfor %}
                            </tbody>


                        </table>
                    </div>
                </div>
            </section>

                <!--Agregar-->
                <section class="content mt-4">
                    <form class="card shadow" action='/NUEVO-PUESTO-OPERATIVO' method="post">
                        <div class="card-header">
                            <h1 class="card-title">Registrar puesto operativo</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="" class="label">Puesto operativo</label>
                                        <input type="text" class="form-control rounded-pill" name="PuestoOperativo" placeholder="Puesto">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        <!-- /.content-wrapper -->
        {% include 'ADMINISTRADOR/modulos/footer.html' %}
        {% include 'ADMINISTRADOR/modulos/side-bar-control.html' %}
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    {% include 'ADMINISTRADOR/modulos/scripts.html' %}
</body>

</html>