<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href='/HOME' class="brand-link">
        
      <img src="{{ url_for('static', filename = 'dist/img/imagenes-menu/mozart.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">ADMINISTRADOR</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      

      <!-- SidebarSearch Form -->
     

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-header">PUESTOS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-address-card fa-solid"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/REGISTRAR-PUESTO" class="nav-link">
                  <i class="fas fa-solid fa-file fa-circle fa-plus nav-icon"></i>
                  <p>Agregar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/BASE-DATOS-PUESTO" class="nav-link">
                  <i class="fas fa-solid fa-database nav-icon"></i>
                  <p>Base de Datos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/OPERACIONES-PUESTO" class="nav-link">
                  <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                  <p>Operaciones</p>
                </a>
              </li>
            </ul>
          </li>
          <!--TIPO DE PUESTOS OPERATIVOS-->
          <li class="nav-header">PUESTOS OPERATIVOS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user fa-solid"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/OPERACIONES-PUESTO-OPERATIVO" class="nav-link">
                  <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                  <p>Operaciones</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">ESTADOS OPERATIVOS</li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-truck fa-solid"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href='/OPERACIONES-ESTADO-OPERATIVO' class="nav-link">
                  <i class="fas fa-solid fa-screwdriver fa-wrench nav-icon"></i>
                  <p>Operaciones</p>
                </a>
              </li>
            </ul>
          </li>
         
          <li class="nav-header">ASISTENCIA <strong> (en desarrollo)</strong></li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list fa-solid"></i>
              <p>
                Administrar
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="db-asistencia" class="nav-link">
                  <i class="fas fa-solid fa-database nav-icon"></i>
                  <p>Base de Datos</p>
                </a>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

<script>
  $('.toastsDefaultWarning').click(function() {
      $(document).Toasts('create', {
        class: 'bg-warning',
        title: 'Toast Title',
        subtitle: 'Subtitle',
        body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    $('.toastrDefaultError').click(function() {
      toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
    });

    $('.swalDefaultWarning').click(function() {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
</script>